os: linux
dist: xenial
language: java
jdk: openjdk11

services:
  - docker

cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.local"

script:
  - mvn clean verify
deploy:
  skip_cleanup: true
  provider: script
    script:
      - bash <(curl -Ls https://coverage.codacy.com/get.sh) report
  on:
    branch: master
    condition: ${TRAVIS_PULL_REQUEST} = false
